body {
  background-color: white;
}

p {
 font-family: "HelveticaNeue-Light";
}


.descrip {
  text-align: center;
  position: absolute;
  margin-left: 43%;
  height: 100px;
}
.scoreBox{
  float: right;
  padding-left: 15px;
  width: 200px;
  background-color: #A0C8C8;
}

.playingField{
  margin: auto;
  width: 650px;
  height: 500px;
  background-color: #A0C8C8;
  clear: both;
}
