body {
  background-color: white;
}

p {
 font-family: "HelveticaNeue-Light";
}

.scoreBox{
  float: right;
  padding-left: 15px;
  width: 100%;
  background-color: #CFE4E5;
  text-align: center;
  margin-bottom: 40px;
}

.playingField{
  margin: auto;
  width: 650px;
  height: 500px;
  background-color: #A0C8C8;
  clear: both;
}
